<nav-bar></nav-bar>
<div class= "container">
  <h2>Mantenimiento Cursos</h2>
  <form  #Form="ngForm">
    <div class="from-group">
      <label for="institucion">Institucion:</label>
      <select id="institucion" name="institucion" class="form-control" [(ngModel)]="selectedInstitucion" (change)="setSedes(selectedInstitucion.sedes)" placeholder="Institucion" >
        <option *ngFor="let i of instituciones" [ngValue]="i">{{i.nombre}}</option>
      </select> 
    </div>
    <div class="from-group">
      <label  for="sede">Sede:</label>
      <select id="sede" name="sede"  class="form-control" [(ngModel)]="selectedSede" [disabled]="!selectedInstitucion" (change)="getEscuelas()" placeholder="Sede">
        <option *ngFor="let s of sedes" [ngValue]="s">{{s.nombre}}</option>> 
      </select> 
    </div>
    <div class="from-group">
      <label  for="escuela">Escuela:</label>
      <select id="escuela" name="escuela"  class="form-control" [(ngModel)]="selectedEscuela" [disabled]="!selectedSede" (change)="setProgramas(selectedEscuela.programas)"  placeholder="Escuela">
        <option *ngFor="let e of escuelas" [ngValue]="e">{{e.nombre}}</option>> 
      </select> 
    </div>
    <div class="from-group">
      <label class="" for="programa">Programa:</label>
      <select id="programa" name="programa"  class="form-control" [(ngModel)]="selectedPrograma" [disabled]="!selectedEscuela" (change)="setCursos(selectedPrograma.malla_curricular)" >
        <option *ngFor="let p of programas" [ngValue]="p">{{p.codigo_programa}} {{p.nombre}}</option>> 
      </select> 
  </div>
    <div class="from-group">
        <label class="" for="codigo_curso">Codigo de Curso:</label>
        <input class="form-control" type="text" name="codigo_curso" [ngModel]="selectedCurso.codigo_curso" [disabled]="!selectedPrograma" >
    </div>
    <div class="from-group">
      <label class="" for="nombre">Nombre de Curso:</label>
      <input class="form-control" type="text" name="nombre" [ngModel]="selectedCurso.nombre" [disabled]="!selectedPrograma" >
  </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!selectedPrograma" (click)="onSubmit(Form,'POST')">Crear</button>
      <button type="submit" class="btn btn-success" [disabled]="selectedCurso.nombre == '' || selectedCurso.codigo_curso == ''" (click)="onSubmit(Form,'PUT')">Editar</button>
      <button type="submit" class="btn btn-danger"  [disabled]="selectedCurso.nombre == '' || selectedCurso.codigo_curso == ''" (click)="onSubmit(Form,'DELETE')">Borrar</button>
    </div>
  </form>
</div>
<div class="container">
  <table id="table" class="table table-hover">
    <thead>
      <tr class="theah-dark">
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cursos"  [ngClass]= "{ 'info' : c === selectedCurso}" (click)="setSelectedCurso(c)">
        <td>{{c.codigo_curso}}</td>
        <td>{{c.nombre}}</td>
      </tr>
    </tbody>
  </table>
</div>
