<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-log-in"></span> Inicio Sesion</a>
      </div>
      <ul class="nav navbar-nav">
            <li><a  href="#/registro/profesor" ><span class="glyphicon glyphicon-user"></span>Registro Profesor</a></li>
            <li><a routerLink = "/registro/estudiante"><span class="glyphicon glyphicon-user"></span>Registro Estudiante</a></li>
      </ul>
    </div>
</nav>