<nav-bar></nav-bar>
<div class="container" >
  <h2>Formulario para mantenimiento de un usuario </h2>
  <form [formGroup]="form">
    <div class = "form-group">
      <div  [ngClass]="{'has-error': form.controls.nombre.errors && form.controls.nombre.dirty, 'has-success': form.controls.nombre.valid && form.controls.nombre.dirty }" >
          <label class="" for="Nombre" >Nombre: </label>
          <input  class="form-control" id="nombre" name="nombre" type="text" [(ngModel)]="currentUsuario.nombre" formControlName="nombre">
      </div>
      <ul class="help-block">
          <li *ngIf="form.controls.nombre.errors?.required && form.controls.nombre.dirty">Este campo es obligatorio.</li>
      </ul>
    </div>
    <div class = "form-group">
        <div  [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty, 'has-success': form.controls.email.valid && form.controls.email.dirty }" >
            <label class="" for="Email" >Correo Electrónico: </label>
            <input  class="form-control" id="email" name="email" type="text" [(ngModel)]="currentUsuario.email" formControlName="email">
        </div>
        <ul class="help-block">
            <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Este campo es obligatorio.</li>
        </ul>
    </div>
    <div class = "form-group">
        <div  [ngClass]="{'has-error': form.controls.password.errors && form.controls.password.dirty, 'has-success': form.controls.password.valid && form.controls.password.dirty }" >
            <label class="" for="Password" >Password: </label>
            <input  class="form-control" id="password" name="password" type="password" [(ngModel)]="currentUsuario.password" formControlName="password">
        </div>
        <ul class="help-block">
            <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Este campo es obligatorio.</li>
        </ul>
    </div>
    <button [disabled]="!form.valid" class="btn btn-primary" (click)="EditUsuario()" >Guardar Cambios</button>
  </form>
</div>