
<div class="container">
  <table class="table table-responsive table-hover table-bordered">
    <tbody>
      <tr>
        <th>Estado</th>
        <th>Topic</th>
        <th>Autor</th>
        <th>Publicado</th>
        <th>Comentarios</th>
      </tr>
      <tr>
          <td>Cerrado</td>  
          <td>Topic1</td>
          <td>Julito</td>
          <td>22/02/2018</td>
          <td>5</td>
      </tr>
      <tr>
          <td>Cerrado</td>  
          <td>Topic1</td>
          <td>Julito</td>
          <td>22/02/2018</td>
          <td>6</td>
      </tr>
    </tbody>
  </table> 
  <button class="btn btn-success">Confirmar Matricula</button>
</div>


  