
<div class="container">
  <table class="table table-responsive table-hover">
    <tbody>
      <tr>
        <th>Estado</th>
        <th>Topic</th>
        <th>Autor</th>
        <th>Publicado</th>
        <th>Comentarios</th>
      </tr>
      <tr *ngFor="let topic of topics" [ngClass]="{ 'info' : topic.autor.tipo === 'profesor' }" routerLink="/grupo/topic/{{topic._id}}" >
          <td>{{topic.estado}}</td>  
          <td>{{topic.titulo}}</td>
          <td>{{topic.autor.nombre}}</td>
          <td>{{topic.fecha | date: 'yyyy-MM-dd HH:mm'}}</td>
          <td>{{topic.comentarios.length}}</td>
      </tr>
    </tbody>
  </table> 
</div>
<div class="container">
  <form  #form="ngForm">
    <div class="form-group">
      <label for="titulo">Titulo:</label>
      <input class="form-control" type="text" name="titulo" id="titulo" placeholder="titulo" ngModel/>
    </div>
    <div class="form-group">
      <label for="txt">Texto:</label>
      <textarea class="form-control" rows="5" id="txt" name="txt" ngModel></textarea>
    </div>
    <div class="form-group">
      <button type="submit" (click)="crearTopic(form)" class="btn btn-success">Comenzar Topic</button>
    </div>
  </form>
</div>


  