<div class= "container">
  <h2>Mantenimiento Escuelas</h2>
  <form  #escuelaForm="ngForm">
    <div class="from-group">
      <label class="" for="institucion">Institucion:</label>
      <select id="institucion" name="institucion" class="form-control" [(ngModel)]="selectedInstitucion" (change)="setSedes(selectedInstitucion.sedes)" placeholder="Institucion" >
        <option *ngFor="let i of instituciones" [ngValue]="i">{{i.nombre}}</option>
      </select> 
    </div>
    <div class="from-group">
      <label class="" for="sede">Sede:</label>
      <select id="sede" name="sede"  class="form-control" [(ngModel)]="selectedSede" [disabled]="!selectedInstitucion" (change)="getEscuelas()" placeholder="Sede">
        <option *ngFor="let s of sedes" [ngValue]="s">{{s.nombre}}</option>> 
      </select> 
    </div>
    <div class="from-group">
        <label class="" for="nombre">Nombre de Escuela:</label>
        <input class="form-control" type="text" name="nombre" [ngModel]="selectedEscuela.nombre" [disabled]="!selectedSede" list="es">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!selectedSede" (click)="onSubmit(escuelaForm,'POST')">Crear</button>
      <button type="submit" class="btn btn-success" [disabled]="selectedEscuela.nombre == ''" (click)="onSubmit(escuelaForm,'PUT')">Editar</button>
      <button type="submit" class="btn btn-danger"  [disabled]="selectedEscuela.nombre == ''" (click)="onSubmit(escuelaForm,'DELETE')">Borrar</button>
    </div>
  </form>
</div>
<div class="container">
  <table id="table" class="table table-hover">
    <thead>
      <tr class="theah-dark">
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of escuelas"  [ngClass]= "{ 'info' : e === selectedEscuela}" (click)="setSelectedEscuela(e)">
        <td>{{e.nombre}}</td>
      </tr>
    </tbody>
  </table>
</div>
