<div class= "container">
  <h2>Formulario para el registro de Escuelas</h2>
  <form  #escuelaForm="ngForm">
    <div class="from-group">
      <label class="" for="institucion">Institucion:</label>
      <select id="institucion" name="institucion" class="form-control" [(ngModel)]="selectedInstitucion" (change)="setSedes(selectedInstitucion.sedes)" placeholder="Institucion" >
        <option *ngFor="let i of instituciones" [ngValue]="i">{{i.nombre}}</option>
      </select> 
    </div>
    <div class="from-group">
      <label class="" for="sede">Sede:</label>
      <select id="sede" name="sede"  class="form-control" [(ngModel)]="selectedSede" placeholder="Sede">
        <option *ngFor="let s of sedes" [ngValue]="s">{{s.nombre}}</option>> 
      </select> 
    </div>
    <div class="from-group">
        <label class="" for="nombre">Nombre de Escuela:</label>
        <input class="form-control" type="text" name="nombre" list="es" ngModel>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" (click)="onSubmit(escuelaForm,'POST')">Crear</button>
    </div>
  </form>
</div>