<!DOCTYPE html>

<html lang="es">

<head>
<title>Formulario Profesor</title>
<meta charset="utf-8" />
</head>

<body>
  <div class= "container">
    <h2>Formulario para el registro de un profesor</h2>
    <form action="" class="">
      <div class="from-group">
        <label class="" for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" name="nombre" type="text" [(ngModel)]="profesor.nombre" placeholder="Nombre:">
      </div>
      <div class="from-group">
          <label class="" for="nombre">Nombre:</label>
          <input class="form-control" id="nombre" name="nombre" type="text" [(ngModel)]="profesor.nombre" placeholder="Nombre:">
      </div>
    </form>

  </div>
</body>
</html>