<nav-bar></nav-bar>
<h2>Matricula {{currentInstitucion.nombre}}</h2>
<h3>{{session.nombre}}</h3>

<table class="table table-responsive table-hover">
  <tbody>
    <tr>
      <th>Grupo</th>
      <td>Curso</td>
      <th>Profesor</th>
      <th>Horario</th>
      <th>Cupos</th>
      <th></th>
    </tr>
    <tr  *ngFor="let grupo of grupos" >
        <td>{{grupo.numero}}</td>
        <td>{{grupo.curso.codigo_curso}} {{grupo.curso.nombre}}</td>
        <td>{{grupo.profesor}}</td>
        <td>{{toStringHorario(grupo.horario)}}</td>
        <td>{{grupo.cupos}}</td>  
        <td>
        <span class="button-checkbox">
            <button type="button" class="btn btn-circle btn-success" (click)="matricularClicked(grupo)"  data-color="primary">
              <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </span>
        </td>
    </tr>
  </tbody>
</table> 

<table class="table table-responsive table-hover">
  <tbody>
    <tr>
      <th>Grupo</th>
      <td>Curso</td>
      <th>Profesor</th>
      <th>Horario</th>
      <th>Cupos</th>
      <th></th>
    </tr>
    <tr  *ngFor="let grupo of gruposMatriculados" >
        <td>{{grupo.numero}}</td>
        <td>{{grupo.curso.codigo_curso}} {{grupo.curso.nombre}}</td>
        <td>{{grupo.profesor}}</td>
        <td>{{toStringHorario(grupo.horario)}}</td>
        <td>{{grupo.cupos}}</td>  
        <td>
        <span class="button-checkbox">
            <button type="button" class="btn btn-circle btn-danger" (click)="desmatricularClicked(grupo)"  data-color="primary">
              <i class="glyphicon glyphicon-minus-sign"></i>
            </button>
        </span>
        </td>
    </tr>
  </tbody>
</table> 

<div>
  <button class="btn btn-success" (click)="confirmarMatricula()">Crear Topic</button>
</div>
